.carousel-caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-weight: bold;
}
.dark{
    background-color: #0e0e0e;
    opacity: 100%;
}


.details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 12px;
    margin: 5px;
}

.testimonial {
    width: 100%;
    height: 85vh;
    background-image: url(https://gotravel123.netlify.app/assets/45367.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    width: 100%;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.493);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 5rem; */
}
.name{
    font-size: 2rem;
}
.contact{
    width: 100%;
    height: 60vh;
    background-image: url(https://gotravel123.netlify.app/assets/newssection-bg.jpg);
    background-position: center;
    display: flex;
    align-items: center;
 }